name: MC Bot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - name: Start bot
        env:
          MC_HOST: ${{ secrets.MC_HOST }}
          MC_PORT: ${{ secrets.MC_PORT }}
          LS_PASS: ${{ secrets.LS_PASS }}
        run: node bot.js
