name: MC Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # каждые 30 минут (UTC)
  push:
    branches: [ "main" ]

concurrency:
  group: mc-bot
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Start bot
        env:
          MC_HOST: ${{ secrets.MC_HOST }}
          MC_PORT: ${{ secrets.MC_PORT }}
          LS_PASS: ${{ secrets.LS_PASS }}
          MC_USER: ${{ secrets.MC_USER }}
        run: node bot.js
