name: MC Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # каждые 30 минут (UTC)
  push:
    branches: [ "main" ]

concurrency:
  group: mc-bot
  cancel-in-progress: true   # новый запуск отменит старый и стартанёт заново

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350      # ~5ч50м

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18     # стабильнее для mineflayer

      - run: npm install

      - name: Start bot
        env:
          MC_HOST: ${{ secrets.MC_HOST }}
          MC_PORT: ${{ secrets.MC_PORT }}
          LS_PASS: ${{ secrets.LS_PASS }}
        run: node bot.js
