Run node bot.js
Error: connect ECONNREFUSED ***:***
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1611:16) {
  errno: -111,
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '***',
  port: ***
}
Error: Error: connect ECONNREFUSED ***:***
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1611:16) {
  errno: -111,
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '***',
  port: ***
}
Disconnected
Error: Process completed with exit code 1.

